/*  Copyright 2015 Patricio Gonzalez Vivo ( http://patriciogonzalezvivo.com )

    Based CSS for alignedleft.com
    Design and code copyright 2011-2012 Scott Murray
*/
body {
    font-family: Baskerville, "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.3;
    padding: 0;
    color: #222;
    margin-bottom: 60px;
    margin-left: 60px;
	margin-right: 60px;
}

pre {
 direction: ltr;
}

h1 {
    font-size: 46px;
    font-style: italic;
    line-height: 0px;
    margin-top: 60px;
    color: #000;
}

h2 {
    font-size: 34px;
    font-style: italic;
    line-height: 0px;
    margin-top: 60px;
    color: #000;
}

h3 {
    font-size: 28px;
    line-height: 18px;
    margin-top: 24px;
    color: #222;
}

h4 {
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 12px;
    font-weight: normal;
    color: #999;
}

h1, h2, h3 {
    font-weight: normal;
}

h3 {
    margin-bottom: 5px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all ease-out 0.2s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
}

.imgcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
}

.caption {
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    text-align: right;
}

.header {
    font-size: 16px;
    line-height: 16px;
    margin-top: 60px;
    text-align: right;
    color: #999;
}

.toc-header {
    font-size: 16px;
    line-height: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: right;
    color: #999;
}

.header .subtitle a,
.toc-header .subtitle a {
    font-size: 1.3em;
    font-style: italic;
    text-decoration: none;
    border: 0!important;
}

.header a,
.toc-header a {
    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    border: 0!important;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

footer {
    clear: both;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: right;
    color: #222222;
}

.navigationBar {
    text-align: center;
    cursor: pointer;
    cursor: hand;
}

li.navigationBar {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 24px;
    font-style: italic;
}


/* Regular code blocks
----------------------------------
*/

code {
    font-family: monospace;
    font-size: 16px;
}

.language-bash {
    background-color: #ECECEC;
    display: block;

    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
}

.language-glsl {
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
}

.language-cpp {
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
}

.language-html {
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
}

.language-processing {
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;
    padding: 15px;
}

/* Interactive GLSL Elements
---------------------------------
*/

.canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.codeAndCanvas {
    height:auto;
    min-height:250px;
    clear:both;
}

.codeAndCanvas canvas {
    float: right;
    position: relative;
    z-index: 1;
}

.codeAndCanvas .ge_editor {
    background: #ECECEC;
}

.CodeMirror {
    background: #ECECEC;
    font-size: 14px;
    line-height: 1.5em;
}

.simpleFunction {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

}

.simpleFunction .CodeMirror {
    background: #F9F9F9;
    font-size: 14px;
    line-height: 1.5em;
}

.simpleFunction canvas {
    float: top;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.cm-s-default .cm-variable-3 {
    color: #708;
}

.cm-s-default .cm-keyword {
    color: #708;
}

.ge_tooltip_modal {
    background-color: #B4B4B4;
}

.ge_tooltip_modal p {
    color: #000000;
}

.ge_tooltip_modal a {
    color: #FEFFFF;
}

.ge_export_modal {
    box-shadow: none;
}

.ge_colorpicker_link-button {
    color: #333;
}

/* GALLERY */

@charset 'utf-8';

.glslGallery{
    -moz-column-width: initial;
    -webkit-column-width: initial;
}

.glslGallery_item{
    vertical-align: top;
    width: 242px;
    margin: 8px;
}

.glslGallery_thumb{
    max-width: 240px;
    border: solid 1px #EEEEEE;
}

.glslGallery_item canvas.glslGallery_canvas{
    vertical-align: top;
    max-width: 242px;
}

.glslGallery_credits{
  position: relative;
  left: 0;
  bottom: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.glslGallery_label{
  color: #333333;
    font-family:Helvetica,Arial,sans-serif;
    text-decoration:none;
  width: 200px;
}
.glslGallery_title{
    margin: 0px;
    padding-top: 14px;
    font-size:12px;
  width: 200px;
}
.glslGallery_author{
    margin: 0px;
    padding-top: 14px;
    padding-bottom: 4px;
    font-size:12px;
}

.glslGallery_openFrameIcon{
  bottom: 0px;
  right: 0px;
    font-size:14px;
}

.more {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.more a {
  font-size: 14px;
  letter-spacing: 0.1em;
    font-family:Helvetica,Arial,sans-serif;
  font-weight: 600;
  border-radius: 2px;
  padding: 8px;
  border: solid 1px #AAAAAA;
  text-transform: uppercase;
}

.more a:hover {
  background: #EEEEEE;
}

.gallery_author {
  font-size: 16px;
  font-style: italic;
  text-align: right;
}
