/*  Copyright 2015 Patricio Gonzalez Vivo ( http://patriciogonzalezvivo.com )

    Based CSS for alignedleft.com
    Design and code copyright 2011-2012 Scott Murray 
*/
body {
    font-family: Baskerville, "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.3;
    padding: 0;
    color: #222;
    margin-bottom: 60px;
    margin-left: 60px;
	margin-right: 60px;
}

h1 {
    font-size: 46px;
    font-style: italic;
    line-height: 0px;
    margin-top: 60px;
    color: #000;   
}

h2 {
    font-size: 34px;
    font-style: italic;
    line-height: 0px;
    margin-top: 60px;
    color: #000;
}

h3 {
    font-size: 28px;
    line-height: 18px;
    margin-top: 24px;
    color: #222;
}

h4 {
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 12px;
    font-weight: normal;
    color: #999;
}

h1, h2, h3 {
    font-weight: normal;
}

h3 {
    margin-bottom: 5px;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all ease-out 0.2s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    max-width: 520px;
}

.imgcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
}

.caption {
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    text-align: right;
}

.header {
    font-size: 16px;
    line-height: 0px;
    margin-top: 60px;
    text-align: right;
    color: #999;
}

.header a{
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
    border:0!important;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

footer {
    clear: both;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: right;
    color: #222222; 
}

.navigationBar {
    text-align: center;
    cursor: pointer; 
    cursor: hand;
}

li.navigationBar {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 24px;
    font-style: italic;
}


/* Regular code blocks
----------------------------------
*/

code {
    font-family: monospace;
    font-size: 16px;
    border-radius: 4px;
}

.lang-bash { 
    background-color: #ECECEC;
    display: block;

    font-size: 14px;
    line-height: 1.5em;

    padding: 15px;
    border-radius: 6px;
}

.lang-glsl { 
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;

    padding: 15px;
    border-radius: 6px;
}

.lang-cpp { 
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;

    padding: 15px;
    border-radius: 6px;
}

.lang-html { 
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;

    padding: 15px;
    border-radius: 6px;
}

.lang-processing {
    background-color: #ECECEC;

    font-size: 14px;
    line-height: 1.5em;

    padding: 15px;
    border-radius: 6px;
}

/* Interactive GLSL Canvas 
---------------------------------
*/

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    max-width: 700px;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

.codeAndCanvas {
    background-color: #ECECEC;
    border-radius: 10px;
    height:auto;
    clear:both;
}

.codeAndCanvas canvas {
    float: right;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

.CodeMirror {
    background: #ECECEC;
    font-size: 14px;
    line-height: 1.5em;
    border-radius: 10px;
    border-radius: 6px;
}

.simpleFunction canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    max-width: 700px;

    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

.simpleFunction .CodeMirror {
    background: #F9F9F9;
    font-size: 14px;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    max-width: 700px;
}
