@charset 'utf-8';

.gallery-top h2 {
	padding-top: 48px;
	margin-top: 48px;
	border-top: 1px solid #CCCCCC;
}

.glslChapterGallery {
	margin-top: 48px;
	margin-bottom: 12px;
	vertical-align: top;
}

.glslGallery_item{
	position:relative;
	display:inline-block;
	width:242px;
	margin-bottom: 24px;
	margin-left: 8px;
	margin-right: 16px;
	vertical-align: top;
}

.glslGallery_thumb{
	max-width:242px;
}

.glslGallery_item canvas.glslGallery_canvas{
	position:absolute;
	top:0px;
	left:0px;
	z-index:103;
	max-width: 242px;
	transition:opacity .5s ease-in;
}

.glslGallery_credits{
	padding:2px;
	padding-bottom: 0px;
	margin:0;
	z-index:104
}

.glslGallery_label{
	font-family:Helvetica,Arial,sans-serif;
	text-decoration:none;
	z-index:104
}
.glslGallery_title{
	margin: 0px;
	padding-bottom:12px;
	font-size:12px;
}
.glslGallery_author{
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 12px;
	font-size:14px;
	font-style:italic;
	font-weight:100;
}

.glslGallery_canvas:hover{
	opacity:1
}

.glslGallery_openFrameIcon{
	box-sizing:border-box;
	position:absolute;
	left:1px;
	top:1px;
	padding:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	z-index:105;
	font-size:10px;
	color:black;
	color: #FFFFFF;
	background-color:#000000;
	cursor:pointer;
	font-family:Helvetica,Geneva,sans-serif;
}
.glslGallery_openFrameIcon:hover{
	color:#85ccc4
}

.glslGallery_item .caption{
	display: none;
}

.extra-container {
	text-align: right;
	margin-bottom: 96px;
}
